<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" th:href="@{/CSS/main.css}">

</head>
<body>
    <div th:replace="~{menu::navigation}"></div>
    <div><h1>About</h1></div>
    <div>
        <p>
            3dehands.be
            Nijverheidskaai 170
            1070 Anderlecht
        </p>
        <br>
        <p>
            3dehands@ehb.be
        </p>
        <br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae lacus nec enim fermentum condimentum. Nullam nibh urna, tempor non risus non, congue malesuada enim. Integer lobortis malesuada augue, ut accumsan ex rhoncus quis. Vivamus aliquet nulla id diam bibendum, sit amet iaculis justo mollis. In eget neque vel urna posuere interdum. Proin vel dignissim nisl. Praesent gravida erat id lacus molestie, ac tempor arcu commodo. Mauris eget quam sit amet sem rutrum efficitur eget eu augue. Etiam nec augue eu sem tempus fringilla eget eu lectus. Aliquam erat volutpat. Nulla facilisi. Proin ut mi commodo orci venenatis lacinia at sed mauris. Mauris fermentum diam malesuada posuere pellentesque.
        </p>
    </div>
</body>
<div th:replace="~{menu::footer}"></div>
</html>